{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "lib": "./lib",
        "processors": "./processors",
        "settings": "./settings"
      }
    }]
  ]
}
